{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/tel.jpg' %}{% endblock %}

{% block headers %}
<h1>Conecta conmigo </h1>
<span class="subheading">✨</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>¿Tienes un proyecto, una idea o simplemente quieres saludar? ¡Será un gusto saber de ti!
Ya sea para colaborar, resolver dudas o intercambiar ideas, estoy disponible y feliz de escucharte.

</p>
     
            
        <br>
        <p><b>📞 Teléfono:</b> 7221854820</p>
        <p><b>📧 Correo electrónico:</b> al221910361@gmail.com</p>
    </div>
</div>
{% endblock %}

