{% extends 'core/base.html' %}

{% block title %}Portafolio {% endblock %}

{% block background %}{% load static %}{% static 'core/img/lila.jpg' %}{% endblock %}

{% block headers %}
<h1>Estefani</h1>
<span class="subheading">Camacho</span>
{% endblock %}

 {% block content %}
  <div class="row project">
    <div class="col-lg-3 col-md-4 offset-lg-1">
<img class="img-fluid" src="https://www.shutterstock.com/image-vector/latino-couple-woman-salsa-man-600nw-2372634481.jpg" alt="Sticker bailando">
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading title">Habilidades personales </h2>   
      <ul>
        <li>💃 Bailar salsa y cumbia</li>
        <li>🍳 Cocinar en familia</li>
        
      </ul>


      <div class="row project">
    <div class="col-lg-3 col-md-4 offset-lg-1">
<img class="img-fluid" src="https://img.freepik.com/vector-premium/mujer-escuchar-musica-vector_942421-60.jpg" alt="Sticker musica">
    </div>
       <h2 class="section-heading title">Pasatiempos</h2>   
      <ul>
        <li> Escuchar música relajante 🎧</li>
        <li> Aprender cosas nuevas 📚</li>
        <li>Tomar fotos casuales 📷 </li>
      </ul>

      <div class="row project">
    <div class="col-lg-3 col-md-4 offset-lg-1">
<img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/12282/12282107.png" alt="Sticker musica">
    </div>
       <h2 class="section-heading title">Valores personales</h2>   
      <ul>
        <li> Empatía 🤝 Me esfuerzo por comprender a los demás y apoyar siempre que puedo.</li>
        <li> Resiliencia 💪 Me adapto con actitud positiva ante los desafíos.</li>
        <li> Compromiso con la mejora continua 🔄
Me esfuerzo por crecer constantemente,
 aprendiendo de cada experiencia y
  buscando siempre nuevas formas de superarme,
   tanto personal como profesionalmente.</li>
      </ul>
    </div>
  </div>
{% endblock %}